{
  "root": true,
  "extends": [
    "next",
    "next/core-web-vitals",
    "plugin:@typescript-eslint/recommended"
  ],
  "plugins": [
    "@typescript-eslint",
    "react"
  ],
  "ignorePatterns": [
    ".generated/**/*", 
    "**/*.d.ts", 
    "**/*.js"
  ],
  "rules": {
    "@next/next/no-img-element": "off",
    "jsx-a11y/alt-text": ["warn", { "elements": ["img"] }],
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": [
      "error",
      {
        "argsIgnorePattern": "^_",
        "caughtErrorsIgnorePattern": "^_",
        "varsIgnorePattern": "^_|^pageType$",
        "ignoreRestSiblings": true 
      }
    ],
    "@typescript-eslint/no-explicit-any": "off",
    "react-hooks/rules-of-hooks": "warn",
    "jsx-quotes": ["error", "prefer-double"]
  }
}