{
  "root": true,
  "extends": [
    "next",
    "next/core-web-vitals",
    "plugin:@typescript-eslint/recommended"
  ],
  "plugins": [
    "@typescript-eslint",
    "react"
  ],
  "ignorePatterns": [
    ".generated/**/*", 
    "**/*.d.ts", 
    "**/*.js",
    "lib/themes/**/*"
  ],
  "rules": {
    "@next/next/no-img-element": "off",
    "jsx-a11y/alt-text": ["warn", { "elements": ["img"] }],
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": [
      "error",
      {
        "argsIgnorePattern": "^_",
        "caughtErrorsIgnorePattern": "^_",
        "varsIgnorePattern": "^_|^pageType$",
        "ignoreRestSiblings": true 
      }
    ],
    "@typescript-eslint/no-explicit-any": "off",
    "react-hooks/rules-of-hooks": "warn",
    "jsx-quotes": ["error", "prefer-double"]
  },
  "overrides": [
    {
      "files": ["lib/themes/**/*.ts"]
    },
    {
      "files": ["lib/contentstack-old.ts", "lib/page-data-old.ts"],
      "rules": {
        "@typescript-eslint/no-explicit-any": "off", // Disable for old files
        "@typescript-eslint/no-unused-vars": "off" // Disable for old files
      }
    }
  ]
}