@media (min-width: 1200px) {
  .brand-root {
  --screen-dimensions-width: 1440px;
  --screen-dimensions-height: 1024px;
  --screen-dimensions-max-width: 1680px;
  --screen-dimensions-min-width: 1200px;
  --columns-full-max-width: 1680px;
  --columns-full-min-width: 1200px;
  --columns-half-max-width: 748px;
  --columns-half-min-width: 508px;
  --columns-one-third-max-width: 480px;
  --columns-one-third-min-width: 320px;
  --columns-two-third-max-width: 1005px;
  --columns-two-third-min-width: 680px;
  --columns-one-fourth-max-width: 748px;
  --columns-one-fourth-min-width: 350px;
  --height-min-height-full-max-height: var(--screen-dimensions-height);
  --height-min-height-full-min-height: var(--screen-dimensions-height);
  --height-min-height-half-max-height: 512px;
  --height-min-height-half-min-height: 512px;
  --height-min-height-header-max-height: 0px;
  --height-min-height-header-min-height: 218px;
  --height-min-height-bar-max-height: 0px;
  --height-min-height-bar-min-height: 86px;
  --height-min-height-banner-max-height: 0px;
  --height-min-height-banner-min-height: 86px;
  --height-min-height-alert-max-height: 0px;
  --height-min-height-alert-min-height: 86px;
  --layout-container-center70-max-width: 845px;
  --layout-base-margin-x: var(--spacing-spacing-80);
  --layout-base-margin-y: var(--spacing-spacing-80);
  --layout-base-gutter: var(--spacing-spacing-24);
  --layout-base-columns: 12px;
  --layout-full-margin-x: var(--spacing-spacing-0);
  --layout-full-margin-y: var(--spacing-spacing-0);
  --layout-full-gutter: var(--spacing-spacing-0);
  --layout-overlap-overlap-gutter: -80px;
  --padding-none: var(--spacing-spacing-0);
  --padding-micro: var(--spacing-spacing-8);
  --padding-tight: var(--spacing-spacing-16);
  --padding-less: var(--spacing-spacing-24);
  --padding-base: var(--spacing-spacing-40);
  --padding-more: var(--spacing-spacing-48);
  --padding-loose: var(--spacing-spacing-64);
  --padding-macro: var(--spacing-spacing-104);
  --margin-none: var(--spacing-spacing-0);
  --margin-micro: var(--spacing-spacing-8);
  --margin-tight: var(--spacing-spacing-16);
  --margin-less: var(--spacing-spacing-24);
  --margin-base: var(--spacing-spacing-40);
  --margin-more: var(--spacing-spacing-48);
  --margin-loose: var(--spacing-spacing-64);
  --margin-macro: var(--spacing-spacing-80);
  --space-between-none: var(--spacing-spacing-0);
  --space-between-micro: var(--spacing-spacing-4);
  --space-between-tight: var(--spacing-spacing-8);
  --space-between-less: var(--spacing-spacing-16);
  --space-between-base: var(--spacing-spacing-24);
  --space-between-more: var(--spacing-spacing-40);
  --space-between-loose: var(--spacing-spacing-64);
  --space-between-macro: var(--spacing-spacing-80);
  --breakpoint: "Desktop";
  --typography-copy-max-Width: 1080px;
  --typography-article-rte-max-width: 845px;
  --typography-header-display-font-size: var(--typography-header-desktop-display-font-size);
  --typography-header-display-font-weight: var(--typography-header-desktop-display-font-weight);
  --typography-header-display-line-height: var(--typography-header-desktop-display-line-height);
  --typography-header-display-letter-spacing: var(--typography-header-desktop-display-letter-spacing);
  --typography-header-xxlarge-font-size: var(--typography-header-desktop-xxlarge-font-size);
  --typography-header-xxlarge-font-weight: var(--typography-header-desktop-xxlarge-font-weight);
  --typography-header-xxlarge-line-height: var(--typography-header-desktop-xxlarge-line-height);
  --typography-header-xxlarge-letter-spacing: var(--typography-header-desktop-xxlarge-letter-spacing);
  --typography-header-xlarge-font-size: var(--typography-header-desktop-xlarge-font-size);
  --typography-header-xlarge-font-weight: var(--typography-header-desktop-xlarge-font-weight);
  --typography-header-xlarge-line-height: var(--typography-header-desktop-xlarge-line-height);
  --typography-header-xlarge-letter-spacing: var(--typography-header-desktop-xlarge-letter-spacing);
  --typography-header-large-font-size: var(--typography-header-desktop-large-font-size);
  --typography-header-large-font-weight: var(--typography-header-desktop-large-font-weight);
  --typography-header-large-line-height: var(--typography-header-desktop-large-line-height);
  --typography-header-large-letter-spacing: var(--typography-header-desktop-large-letter-spacing);
  --typography-header-medium-font-size: var(--typography-header-desktop-medium-font-size);
  --typography-header-medium-font-weight: var(--typography-header-desktop-medium-font-weight);
  --typography-header-medium-line-height: var(--typography-header-desktop-medium-line-height);
  --typography-header-medium-letter-spacing: var(--typography-header-desktop-medium-letter-spacing);
  --typography-header-small-font-size: var(--typography-header-desktop-small-font-size);
  --typography-header-small-font-weight: var(--typography-header-desktop-small-font-weight);
  --typography-header-small-line-height: var(--typography-header-desktop-small-line-height);
  --typography-header-small-letter-spacing: var(--typography-header-desktop-small-letter-spacing);
  --typography-header-xsmall-font-size: var(--typography-header-desktop-small-font-size);
  --typography-header-xsmall-font-weight: var(--typography-header-desktop-xsmall-font-weight);
  --typography-header-xsmall-line-height: var(--typography-header-desktop-xsmall-line-height);
  --typography-header-xsmall-letter-spacing: var(--typography-header-desktop-xsmall-letter-spacing);
  --typography-header-xxsmall-font-size: var(--typography-header-desktop-xxsmall-font-size);
  --typography-header-xxsmall-font-weight: var(--typography-header-desktop-xxsmall-font-weight);
  --typography-header-xxsmall-line-height: var(--typography-header-desktop-xxsmall-line-height);
  --typography-header-xxsmall-letter-spacing: var(--typography-header-desktop-xxsmall-letter-spacing);
  --typography-header-h1-font-size: var(--typography-header-desktop-h1-font-size);
  --typography-header-h1-font-weight: var(--typography-header-desktop-h1-font-weight);
  --typography-header-h1-line-height: var(--typography-header-desktop-h1-line-height);
  --typography-header-h1-letter-spacing: var(--typography-header-desktop-h1-letter-spacing);
  --typography-header-h2-font-size: var(--typography-header-desktop-h2-font-size);
  --typography-header-h2-font-weight: var(--typography-header-desktop-h2-font-weight);
  --typography-header-h2-line-height: var(--typography-header-desktop-h2-line-height);
  --typography-header-h2-letter-spacing: var(--typography-header-desktop-h2-letter-spacing);
  --typography-header-h3-font-size: var(--typography-header-desktop-h3-font-size);
  --typography-header-h3-font-weight: var(--typography-header-desktop-h3-font-weight);
  --typography-header-h3-line-height: var(--typography-header-desktop-h3-line-height);
  --typography-header-h3-letter-spacing: var(--typography-header-desktop-h3-letter-spacing);
  --typography-header-h4-font-size: var(--typography-header-desktop-h4-font-size);
  --typography-header-h4-font-weight: var(--typography-header-desktop-h4-font-weight);
  --typography-header-h4-line-height: var(--typography-header-desktop-h4-line-height);
  --typography-header-h4-letter-spacing: var(--typography-header-desktop-h4-letter-spacing);
  --typography-header-h5-font-size: var(--typography-header-desktop-h5-font-size);
  --typography-header-h5-font-weight: var(--typography-header-desktop-h5-font-weight);
  --typography-header-h5-line-height: var(--typography-header-desktop-h5-line-height);
  --typography-header-h5-letter-spacing: var(--typography-header-desktop-h5-letter-spacing);
  --typography-header-h6-font-size: var(--typography-header-desktop-h6-font-size);
  --typography-header-h6-font-weight: var(--typography-header-desktop-h6-font-weight);
  --typography-header-h6-line-height: var(--typography-header-desktop-h6-line-height);
  --typography-header-h6-letter-spacing: var(--typography-header-desktop-h6-letter-spacing);
  --typography-body-xlarge-font-size: var(--typography-body-desktop-xlarge-font-size);
  --typography-body-xlarge-font-weight: var(--typography-body-desktop-xlarge-font-weight);
  --typography-body-xlarge-line-height: var(--typography-body-desktop-xlarge-line-height);
  --typography-body-xlarge-letter-spacing: var(--typography-body-desktop-xlarge-letter-spacing);
  --typography-body-large-font-size: var(--typography-body-desktop-large-font-size);
  --typography-body-large-font-weight: var(--typography-body-desktop-large-font-weight);
  --typography-body-large-line-height: var(--typography-body-desktop-large-line-height);
  --typography-body-large-letter-spacing: var(--typography-body-desktop-large-letter-spacing);
  --typography-body-large-b-font-weight: var(--typography-body-desktop-large-b-font-weight);
  --typography-body-medium-font-size: var(--typography-body-desktop-medium-font-size);
  --typography-body-medium-font-weight: var(--typography-body-desktop-medium-font-weight);
  --typography-body-medium-line-height: var(--typography-body-desktop-medium-line-height);
  --typography-body-medium-letter-spacing: var(--typography-body-desktop-medium-letter-spacing);
  --typography-body-medium-sb-font-weight: var(--typography-body-desktop-medium-sb-font-weight);
  --typography-body-medium-b-font-weight: var(--typography-body-desktop-medium-b-font-weight);
  --typography-body-small-font-size: var(--typography-body-desktop-small-font-size);
  --typography-body-small-font-weight: var(--typography-body-desktop-small-font-weight);
  --typography-body-small-line-height: var(--typography-body-desktop-small-line-height);
  --typography-body-small-letter-spacing: var(--typography-body-desktop-small-letter-spacing);
  --typography-body-small-sb-font-weight: var(--typography-body-desktop-small-sb-font-weight);
  --typography-body-small-b-font-weight: var(--typography-body-desktop-small-b-font-weight);
  --typography-body-xsmall-font-size: var(--typography-body-desktop-xsmall-font-size);
  --typography-body-xsmall-font-weight: var(--typography-body-desktop-xsmall-font-weight);
  --typography-body-xsmall-line-height: var(--typography-body-desktop-xsmall-line-height);
  --typography-body-xsmall-letter-spacing: var(--typography-body-desktop-xsmall-letter-spacing);
  --typography-body-xsmall-sb-font-weight: var(--typography-body-desktop-xsmall-sb-font-weight);
  --typography-body-xsmall-b-font-weight: var(--typography-body-desktop-xsmall-b-font-weight);
  --typography-eyebrow-font-size: var(--typography-eyebrow-desktop-font-size);
  --typography-eyebrow-font-weight: var(--typography-eyebrow-desktop-font-weight);
  --typography-eyebrow-line-height: var(--typography-eyebrow-desktop-line-height);
  --typography-eyebrow-letter-spacing: var(--typography-eyebrow-desktop-letter-spacing);
  --typography-label-medium-font-size: var(--typography-label-medium-font-size);
  --typography-label-medium-font-weight: var(--typography-label-medium-font-weight);
  --typography-label-medium-line-height: var(--typography-label-medium-line-height);
  --typography-label-medium-letter-spacing: var(--typography-label-medium-letter-spacing);
  --typography-label-medium-sb-font-weight: var(--typography-label-medium-sb-font-weight);
  --typography-label-medium-b-font-weight: var(--typography-label-medium-b-font-weight);
  --typography-label-small-font-size: var(--typography-label-small-font-size);
  --typography-label-small-font-weight: var(--typography-label-small-font-weight);
  --typography-label-small-line-height: var(--typography-label-small-line-height);
  --typography-label-small-letter-spacing: var(--typography-label-small-letter-spacing);
  --typography-label-small-sb-font-weight: var(--typography-label-small-sb-font-weight);
  --typography-label-small-b-font-weight: var(--typography-label-small-b-font-weight);
  --typography-label-xsmall-font-size: var(--typography-label-xsmall-font-size);
  --typography-label-xsmall-font-weight: var(--typography-label-xsmall-font-weight);
  --typography-label-xsmall-line-height: var(--typography-label-xsmall-line-height);
  --typography-label-xsmall-letter-spacing: var(--typography-label-xsmall-letter-spacing);
  --typography-label-xsmall-sb-font-weight: var(--typography-label-xsmall-sb-font-weight);
  --typography-label-xsmall-b-font-weight: var(--typography-label-xsmall-b-font-weight);
  --typography-button-xlarge-font-size: var(--typography-button-xlarge-font-size);
  --typography-button-xlarge-font-weight: var(--typography-button-xlarge-font-weight);
  --typography-button-xlarge-line-height: var(--typography-button-xlarge-line-height);
  --typography-button-xlarge-letter-spacing: var(--typography-button-xlarge-letter-spacing);
  --typography-button-large-font-size: var(--typography-button-large-font-size);
  --typography-button-large-font-weight: var(--typography-button-large-font-weight);
  --typography-button-large-line-height: var(--typography-button-large-line-height);
  --typography-button-large-letter-spacing: var(--typography-button-large-letter-spacing);
  --typography-link-font-size: var(--typography-link-font-size);
  --typography-link-font-weight: var(--typography-link-font-weight);
  --typography-link-line-height: var(--typography-link-line-height);
  --typography-link-letter-spacing: var(--typography-link-letter-spacing);
  --component-header-brand-1-logo-height: 48px;
  --component-header-brand-2-logo-height: 56px;
  --component-header-brand-3-logo-height: 48px;
  --component-promo-image-padding-x-hw: var(--padding-none);
  --component-promo-image-padding-y-hw: var(--padding-none);
  }
}
