.ThemesLight {
  --component-accordion-toggle: var(--color-text-text-secondary);
  --component-accordion-toggle-active: var(--color-text-link-link);
  --component-accordion-toggle-hover: var(--color-text-link-link-hover);
  --component-accordion-divider: var(--general-theme-light-on-surface-border);
  --component-card-on-bg-bg: var(--general-theme-light-on-bg-bg);
  --component-card-on-bg-fill: var(--general-theme-light-on-surface-fill);
  --component-card-on-bg-title: var(--general-theme-light-on-surface-text-primary);
  --component-card-on-bg-subtitle: var(--general-theme-light-on-surface-text-secondary);
  --component-card-on-bg-eyebrow: var(--general-theme-light-on-surface-text-primary);
  --component-card-on-bg-body: var(--general-theme-light-on-surface-text-secondary);
  --component-card-on-bg-button-1-color: var(--general-theme-light-on-bg-button-color-1);
  --component-card-on-bg-button-2-color: var(--general-theme-light-on-bg-button-color-2);
  --component-card-on-surface-surface: var(--general-theme-light-on-surface-surface);
  --component-card-on-surface-fill: var(--general-theme-light-on-surface-fill);
  --component-card-on-surface-title: var(--general-theme-light-on-surface-text-primary);
  --component-card-on-surface-subtitle: var(--general-theme-light-on-surface-text-secondary);
  --component-card-on-surface-eyebrow: var(--general-theme-light-on-surface-text-primary);
  --component-card-on-surface-body: var(--general-theme-light-on-surface-text-secondary);
  --component-card-on-surface-button-1-color: var(--general-theme-light-on-surface-button-color-1);
  --component-card-on-surface-button-2-color: var(--general-theme-light-on-surface-button-color-2);
  --component-card-item-surface: var(--general-theme-light-on-surface-surface);
  --component-card-item-border: var(--general-theme-light-on-surface-border);
  --component-card-item-eyebrow: var(--general-theme-light-on-surface-text-secondary);
  --component-card-item-title: var(--general-theme-light-on-surface-text-primary);
  --component-card-item-subtitle: var(--general-theme-light-on-surface-text-primary);
  --component-card-item-body: var(--general-theme-light-on-surface-text-secondary);
  --component-card-item-button-1-color: var(--general-theme-light-on-surface-button-color-1);
  --component-card-item-button-2-color: var(--general-theme-light-on-surface-button-color-2);
  --component-card-list-bg: var(--general-theme-light-on-bg-bg);
  --component-hero-bg: var(--general-theme-light-on-bg-bg);
  --component-hero-image-overlay: var(--component-hero-bg);
  --component-hero-surface: var(--component-hero-bg);
  --component-hero-content-fill: var(--component-hero-bg);
  --component-hero-content-border: var(--component-hero-bg);
  --component-hero-image-fill: var(--component-hero-bg);
  --component-hero-image-border: var(--component-hero-bg);
  --component-hero-eyebrow: var(--color-text-darkest);
  --component-hero-title: var(--color-text-darkest);
  --component-hero-subtitle: var(--color-text-dark);
  --component-hero-body: var(--color-text-dark);
  --component-hero-button-color-1: primary;
  --component-hero-button-color-2: primary;
  --component-file-list-bg: var(--general-theme-light-on-bg-bg);
  --component-file-list-title: var(--general-theme-light-on-bg-text-primary);
  --component-file-list-body: var(--general-theme-light-on-bg-text-secondary);
  --component-file-list-button-color-1: var(--general-theme-light-on-surface-button-color-1);
  --component-feature-bg: var(--general-theme-light-on-bg-bg);
  --component-feature-a11y-image-overlay: var(--component-feature-bg);
  --component-feature-surface: var(--general-theme-light-on-surface-surface);
  --component-feature-title: var(--general-theme-light-on-bg-text-primary);
  --component-feature-subtitle: var(--general-theme-light-on-bg-text-secondary);
  --component-feature-eyebrow: var(--general-theme-light-on-bg-text-primary);
  --component-feature-body: var(--general-theme-light-on-bg-text-secondary);
  --component-feature-button-color-1: var(--general-theme-light-on-bg-button-color-1);
  --component-feature-button-color-2: var(--general-theme-light-on-bg-button-color-2);
  --component-promo-bg: var(--general-theme-light-on-bg-bg);
  --component-promo-surface: var(--general-theme-light-on-surface-surface);
  --component-promo-surface-match-bg: var(--general-theme-light-on-surface-surface-matchBG);
  --component-promo-title: var(--general-theme-light-on-surface-text-primary);
  --component-promo-subtitle: var(--general-theme-light-on-surface-text-secondary);
  --component-promo-eyebrow: var(--general-theme-light-on-surface-text-primary);
  --component-promo-body: var(--general-theme-light-on-surface-text-secondary);
  --component-promo-button-color-1: var(--general-theme-light-on-surface-button-color-1);
  --component-promo-button-color-2: var(--general-theme-light-on-surface-button-color-2);
  --component-promo-radius-image: var(--general-theme-light-on-bg-radius-promo-image);
  --component-section-bg: var(--general-theme-light-on-bg-bg);
  --component-section-surface: var(--general-theme-light-on-surface-surface);
  --component-section-surface-match-bg: var(--general-theme-light-on-surface-surface-matchBG);
  --component-section-title: var(--color-text-darkest);
  --component-section-subtitle: var(--color-text-dark);
  --component-section-eyebrow: var(--color-text-darkest);
  --component-section-body: var(--color-text-dark);
  --component-section-button-color-1: var(--general-theme-light-on-surface-button-color-1);
  --component-quote-bg: var(--general-theme-light-on-bg-bg);
  --component-quote-surface: var(--general-theme-light-on-surface-surface);
  --component-quote-quote: var(--general-theme-light-on-bg-text-primary);
  --component-quote-name: var(--general-theme-light-on-bg-text-secondary);
  --component-quote-details: var(--color-text-dark);
  --component-quote-star-fg: var(--color-orange-500);
  --component-quote-star-bg: var(--color-black-alpha-5);
  --component-stat-surface: var(--general-theme-light-on-surface-surface);
  --component-stat-border: var(--general-theme-light-on-surface-border);
  --component-stat-label: var(--general-theme-light-on-surface-text-secondary);
  --component-stat-number: var(--general-theme-light-on-surface-text-primary);
  --component-stat-description: var(--general-theme-light-on-surface-text-secondary);
  --component-video-card-item-surface: var(--general-theme-light-on-surface-surface);
  --component-video-card-item-border: var(--general-theme-light-on-surface-border);
  --component-video-card-item-eyebrow: var(--general-theme-light-on-surface-text-secondary);
  --component-video-card-item-title: var(--general-theme-light-on-surface-text-primary);
  --component-video-card-item-subtitle: var(--general-theme-light-on-surface-text-secondary);
  --component-video-card-item-body: var(--general-theme-light-on-surface-text-secondary);
  --component-video-card-item-button-1-color: var(--general-theme-light-on-surface-button-color-2);
}
